<h3> Editar Setor </h3>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12 gutter">

        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div *ngIf="success" class="alert alert-success">{{success}}</div>

        <form #departmentForm="ngForm" (ngSubmit)="editDepartment()">
            <input type="text" placeholder="Nome" [(ngModel)]="department.name" name="name" required>
            <textarea rows="4" placeholder="Descrição" [(ngModel)]="department.description" name="description" required> </textarea>
            <div style="text-align: center">
                <button type="submit" class="add-project"> Salvar </button>
                <button type="button" routerLink="/department" class="cancel"> Fechar </button>
            </div>
        </form>

    </div>

</div>